@mixin font-style($color, $size, $weight, $lhight) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    line-height: $lhight;
}

body {
    background: #1B1E22;
    font-family: 'Montserrat';
}

img {
    max-width: 100%;
}

.container {
    max-width: 1133px;
    margin: auto;

    @media(max-width:1200px) {
        max-width: 95%;
    }
}

header {
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
}

.header__logo-nav {
    display: flex;
    justify-content: space-between;

    @media(max-width: 1060px) {
        display: block;
    }
}

.header__logo-lang {
    display: flex;
    align-items: center;

    @media(max-width: 1060px) {
        justify-content: space-between;
    }
}

.header__logo {
    transform: translateY(-6px);
}

.header__lang-en {
    color: rgba(196, 196, 196, 0.50);
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    margin-right: 21px;
    margin-left: 26px;
}

.header__lang-ru {
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
}

.header__nav {
    display: flex;
    align-items: center;

    @media(max-width: 1060px) {
        justify-content: space-around;
        margin-top: 20px;
    }

    @media(max-width: 650px) {
        justify-content: space-between;
    }

}

.mob-menu {
    display: none;

    @media(max-width: 650px) {
        display: block;
    }
}

.header__nav nav ul {
    display: flex;
    gap: 40px;

    @media(max-width: 700px) {
        gap: 20px;
    }

    @media(max-width: 650px) {
        display: none;
    }
}

.header__nav-a {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.header__nav-help {
    border-radius: 10px;
    border: 1px solid #FFB800;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    padding: 9px 33px;
    margin-left: 35px;
    transition: 0.5s;
}

.header__nav-help:hover {
    background-color: #FFB800;
    color: #000;
}

.greeting {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 2.91%, rgba(27, 30, 34, 0.40) 49.31%, #1B1E22 93.77%), url(../images/main-bg2.jpg);
    padding-top: 169px;
    background-size: cover;
    background-position: center;
}

.greeting__hero {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 205px;

    @media(max-width: 1138px) {
        margin-bottom: 100px;
        justify-content: center;

        .greeting__hello {
            text-align: center;
        }

        .greeting__hello p {
            max-width: 582px;
        }
    }

}

.greeting__hello h1 {
    max-width: 582px;
    color: #FFF;
    font-size: 48px;
    font-weight: 500;
    line-height: 58px;
    margin-bottom: 26px;

    @media(max-width: 1060px) {
        margin-top: 100px;
    }

    @media(max-width: 500px) {
        font-size: 35px;
    }
}

.greeting__hello p {
    max-width: 474px;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;

    @media(max-width: 500px) {
        font-size: 15px;
    }
}

.greeting__tour-search {
    border-radius: 10px;
    background: rgba(51, 51, 51, 0.25);
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12px);
    padding: 51px 70px 55px;
    max-width: 500px;
    transform: translateX(70px);
    color: #fff;

    @media(max-width:1273px) {
        transform: translateX(0px);
    }

    @media(max-width: 1138px) {
        margin-top: 30px;
    }

    @media(max-width: 500px) {
        padding: 51px 40px 55px;
    }

    @media(max-width: 340px) {
        padding: 51px 30px 55px;
    }
}

.greeting__tour-search h2 {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 23px;
}

.greeting__tour-search-search {
    border-radius: 4px;
    border: 1px solid #FFF;
}

.greeting__tour-search-search button {
    height: 36px;
    width: 36px;
    background: url(../images/search.svg) no-repeat center / 20px;
    cursor: pointer;
    border: none;
}

.greeting__tour-search-search input {
    width: 88%;
    padding: 9px 13px 11px;

    @media(max-width: 450px) {
        max-width: 83%;
    }

    @media(max-width: 315px) {
        max-width: 80%;
    }

    @media(max-width: 280px) {
        max-width: 77%;
    }

    @media(max-width: 250px) {
        max-width: 74%;
    }

}

.greeting__tour-search-search input:focus {
    border: none;
    outline: none;
}

.greeting__tour-search input::placeholder {
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
}

.greeting__date-time {
    display: flex;
    gap: 24px;
    margin: 21px 0;

    @media(max-width: 450px) {
        flex-direction: column;
    }
}

.greeting__date-time input {
    border-radius: 4px;
    border: 1px solid #FFF;
    width: 100%;
    height: 36px;
    padding: 8px 5px 12px 13px;
}

.greeting__tour-tour {
    border-radius: 4px;
    border: 1px solid #FFF;
}

.greeting__tour-search select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(../images/arrow.svg);
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 97%;
    width: 100%;
    height: 36px;
    padding-left: 13px;
    color: #fff;
    font-size: 13px;
}

.greeting__tour-search select:focus {
    border: none;
    outline: none;
}

.greeting__submit-btn {
    display: block;
    width: 100%;
    height: 36px;
    background-color: #FFB800;
    border-radius: 4px;
    color: #333;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-top: 22px;
}

.greeting__why-us h2 {
    color: #FFF;
    text-align: center;
    font-size: 34px;
    font-weight: 500;
    line-height: 38px;
    margin-bottom: 44px;
}

.greeting__why-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media(max-width: 1000px) {
        justify-content: space-around;
        row-gap: 40px;
    }

}

.greeting__card {
    max-width: 22%;
    text-align: center;

    @media(max-width: 1000px) {
        max-width: 35%;
    }

    @media(max-width: 500px) {
        max-width: 55%;
    }
}


.greeting__why-card p {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 17px;

    @media(max-width: 340px) {
        font-size: 16px;
    }

    @media(max-width: 270px) {
        font-size: 14px;
    }

}

.actual {
    padding-top: 75px;
    padding-bottom: 72px;
}

.actual__title {
    color: #FFF;
    text-align: center;
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 45px;
}

.actual__cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 49px;

    @media(max-width: 1191px) {
        justify-content: center;
        gap: 50px;
    }

    @media(max-width: 815px) {
        gap: 25px;
    }

    @media(max-width: 790px) {
        gap: 40px;
    }
}

.actual__card {
    width: 361px;
    position: relative;
    transition: 0.7s;
    border-radius: 4px 4px 0px 0px;
}

.actual__card:hover {
    background-color: #fff;
    transform: scale(1.05);
    box-shadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.75);
}

.actual__card:hover .actual__descr h3,
.actual__card:hover .actual__descr p {
    color: #333;
}

.actual__card:hover .actual__descr a {
    color: rgba(0, 0, 0, 0.5);
}

.actual__card:hover .actual__price-date {
    transform: translateY(14px);
}

.actual__img {
    position: relative;
    border-radius: 4px 4px 0px 0px;
    background-color: #23282F;
}

.actual__price-date {
    position: absolute;
    left: 0;
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
}

.actual__card:hover .actual__price span {
    font-size: 24px;
}

.actual__price {
    color: #1B1E22;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    line-height: 32px;
    background-color: #FFB800;
    padding: 0px 4px;
}

.actual__price span {
    font-size: 20px;
    font-weight: 700;
}

.actual__date {
    border-radius: 0px 6px 6px 0px;
    background: rgba(27, 30, 34, 0.75);
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    padding: 9px 5px;
}

.actual__descr {
    padding: 16px 21px 55px 21px;
    border-radius: 0px 0px 4px 4px;
    height: 217px;

    h3 {
        color: #FFF;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 16px;
    }

    p {
        color: #FFF;
        font-size: 14px;
        font-weight: 400;
    }

    @media(max-width: 360px) {
        height: 250px;
    }

    @media(max-width: 290px) {
        height: 270px;
    }
}


.actual__descr a {
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    opacity: 0.5;
    position: absolute;
    left: 20px;
    bottom: 24px;
}

.actual__a-bottom {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 4px;
    border: 1px solid #FFB800;
    padding: 11px 37px;
    transition: 0.5s;
}

.actual__bottom {
    text-align: center;
}

.actual__a-bottom:hover {
    background-color: #FFB800;
    color: #000;
    ;
}

.info {
    background: linear-gradient(to top, rgba(27, 30, 34, 0.78), rgba(27, 30, 34, 0.78)), url(../images/info.jpg);
    padding: 59px 0 68px;
    margin-bottom: 62px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media(max-width: 790px) {
            justify-content: space-around;
            gap: 40px;
        }
    }

    &__flex-blog {
        max-width: 100%;

        @media(max-width: 790px) {
            width: 300px;
        }

        @media(max-width: 680px) {
            width: 250px;
        }

        @media(max-width: 570px) {
            width: 200px;
        }
    }

    .info__flex-blog1 {
        color: #FFB800;
        text-align: center;
        font-size: 78px;
        font-weight: 500;
        line-height: 58px;
        margin-bottom: 23px;

        @media(max-width: 940px) {
            font-size: 60px;
        }

        @media(max-width: 570px) {
            font-size: 45px;
        }
    }

    .info__flex-blog2 {
        color: #FFF;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;

        @media(max-width: 940px) {
            font-size: 16px;
        }

        @media(max-width: 570px) {
            font-size: 14px;
        }
    }
}

.blog {
    h2 {
        color: #FFF;
        font-size: 34px;
        font-style: normal;
        font-weight: 500;
        line-height: 38px;
        text-align: center;
        margin-bottom: 44px;
    }

    &__blog-flex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 49px;

        @media(max-width: 1190px) {
            flex-direction: column;
            gap: 24px;
            align-items: center;
        }
    }

    &__blog-card1 {
        background: linear-gradient(to top, rgba(31, 31, 31, 0.65), rgba(31, 31, 31, 0.65)), url(../images/blog-card1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        max-width: 552px;
        height: 480px;
        border-radius: 4px;

        h3 {
            color: #FFF;
            text-align: center;
            font-size: 34px;
            font-weight: 500;
            line-height: 38px;
            margin: 51px 15px 28px 16px;

            @media(max-width: 430px) {
                font-size: 28px;
            }
        }

        p {
            color: #FFF;
            text-align: center;
            font-size: 13px;
            font-weight: 400;
            line-height: 16px;
            margin-bottom: 266px;
        }
    }

    .blog__blog-reight {
        display: flex;
        gap: 24px;

        @media(max-width: 590px) {
            flex-direction: column;
        }
    }

    &__blog-card2 {
        max-width: 264px;
        position: relative;
        border-radius: 4px;
        background-color: #23282F;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);

        img {
            border-radius: 4px 4px 0px 0px;
        }

        .blog__blog-descr {
            padding: 20px 20px 58px;
        }

        h3 {
            color: #FFF;
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            margin-bottom: 14px;
        }

        p {
            color: #FFF;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }

        .blog__blog-descr-like .blog__blog-descr-like-p {
            color: #FFF;
        }

        .blog__blog-descr-data {
            display: flex;
            justify-content: space-between;
            position: absolute;
            left: 20px;
            bottom: 21px;
            width: 224px;

            p {
                color: rgba(255, 255, 255, 0.50);
                font-size: 13px;
                font-weight: 400;
                line-height: 16px;
            }

            .blog__blog-descr-chat {
                display: flex;
                gap: 7px;
            }

            .blog__blog-descr-like {
                display: flex;
                gap: 7px;

            }
        }
    }

}

.feedback {
    margin: 62px 0 58px;
    text-align: center;

    h2 {
        color: #FFF;
        text-align: center;
        font-size: 34px;
        font-weight: 500;
        line-height: 38px;
    }

    .feedback__img {
        text-align: center;
        margin: 47px 0 30px;
    }

    p {
        color: #FFF;
        text-align: center;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        max-width: 924px;
        margin: auto;
        margin-bottom: 6px;
    }

    .feedback__name {
        color: #FFB800;
        font-size: 16px;
        font-weight: 600;
        line-height: 16px;
        margin-bottom: 32px;
    }

    .feedback__button {
        display: flex;
        justify-content: space-between;
        width: 48px;
        margin: auto;
    }
}

footer {
    padding-bottom: 28px;
}

.footer__flex {
    display: flex;
    justify-content: space-between;

    @media(max-width: 700px) {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    p {
        color: #FFB800;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
    }

    a {
        color: #FFF;
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
    }

    .footer__flex1 {
        display: flex;
        align-items: center;
        gap: 28px;

        @media(max-width: 800px) {
            gap: 10px;
        }

        .footer__flex1-email {
            margin-bottom: 15px;
            display: block;
        }

        .footer__flex1-adres {
            display: block;
        }

    }

    .footer__flex2 {
        display: flex;
        gap: 29px;

        @media(max-width: 800px) {
            gap: 10px;
        }

        a {
            display: block;
        }

        .footer__flex2-number1 {
            margin-bottom: 15px;
        }
    }

    .footer__flex3 {
        width: 360px;

        @media(max-width: 1200px) {
            max-width: 200px;
        }

        @media(max-width: 800px) {
            max-width: 173px;
        }

        .footer__flex3-social {
            display: flex;
            gap: 27px;
            margin-top: 10px;
            align-items: center;
        }
    }
}